body {
    margin: 0;
    background-color: #1e1e1e;
    color: #F5F5F5;
    font-family: Inter,serif;
    font-weight: 400;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
}

a {
    color: #F5F5F5;
}

.content-section {
    max-width: 360px;
    box-sizing: border-box;
    margin: 0 auto;
}

.content-section_theme_dark {
    background-color: #131313;
    color:#F5F5F5;
}

.content-section_theme_bright {
    background-color: #FEE42A;
    color: #131313;
}

.header {
    padding: 24px 20px;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    display: block;
    width: 78px;
    height: auto;
}

.header__logo-image {
    width: 100%;
}

.header__menu-list {
    list-style-type: none;
    display:flex;
    flex-direction: column;
    gap: 12px;
}

.header__menu-item_active {
    text-decoration: none;
}

.cover {
    padding: 7px 24px 32px 20px;
    background-image: url(../images/cover.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 95%;
}

.cover__title {
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 1;
}

.accent-span {
    display: block;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.intro{
    padding: 30px 20px;
    color: #F5F5F5;
    line-height: 21.6px; /* 135% */
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.intro__heading {
    display: flex;
    justify-content: space-between;
    gap: 22px;
}

.intro__title {
    color: #CCC;
}

.intro__date {
    white-space: nowrap;
    color: #CCC;
}

.intro__main-text {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.reasons {
    padding: 40px 20px;
}

.content-section__subtitle {
    font-family: EB Garamond, sans;
    font-size: 28px;
    font-weight: 500;
    line-height: 115%; /* 32.2px */
    margin-bottom: 32px;
}

.content-section__introduction {
    font-size: 20px;
    line-height: 27px; /* 135% */
    margin-bottom: 32px;
}

.content-section__list {
display: flex;
flex-direction: column;
gap: 16px;
padding-left: 16px;
}

.content-section__list-accent {
    font-weight: bold;
}

.how-to {
    padding: 40px 20px 60px 20px;
}

.card_theme_dark {
    padding: 20px;
    border-radius: 30px;
    background-color: #343434;
    color: #F5F5F5;
}

.card_theme_bright {
    padding: 20px;
    border-radius: 30px;
    background-color: #FEE42A;
    color: #131313;
}

.card__author {
    margin-bottom: 8px;
}

.card__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.card__item {
    list-style-type: none;
}

.card__author-img {
    height: 100px;
    margin-bottom: 8px;
}

.card__author-name{
    font-weight: 700;
}

.card__title {
    margin-bottom: 8px;
    font-family: EB Garamond;
    font-size: 22px;
    font-weight: 500;
}

.footer {
    border-top: 1px solid #FEE42A;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.footer__list {
    display: flex;
    gap: 16px;
    list-style-type: none;
}

.footer__link {
    text-decoration: none;
}